/*--------------------------- Barra / Fondo ---------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    background: linear-gradient(
    90deg, 
  rgb(234, 93, 234) 25%, 
  rgb(235, 103, 184) 73%);
    font-family: 'poppins',sans-serif;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
.back {
    padding: 32px 0;
    background-color: white;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: black;
    display: block;
}
.menu .navbar ul li a:hover {
    color: rgb(221, 55, 152);
}
.logo {
    margin-left: 20px;
    width:100px;
}
/*--------------------------- My code ---------------------------*/
/*--------------------------- Mensaje / Cards ---------------------------*/
.mensaje{
  color: #000;
  text-align: center;
  font-size: 25px;
}
.emp{
  color: #000;
  text-align: center;
  font-size: 25px;
}
.all-cards{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  position: relative;
  width: 200px;
  min-height: 215px;
  background-color: #e6e6fa;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  margin: 15px 20px;
  display: inline-block;
  flex-wrap: wrap;
}
.card .head{
  height: 125px;
  width: 100%;
  position: relative;
}
.card .head .img{
  width: 150px;
  height: 150px;
  position: absolute;
  padding: 5px;
  border-radius: 50%;
  bottom: -30%;
  left: 50%;
  transform: translate(-50%);
}
.card .head .img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.card .description{
  height: 200px;
  padding: 40px 20px 20px 20px;
  border-bottom: solid 1px rgba(6,74,76,0.18);
  text-align: center;
}
.card .description h2{
  color: #990066;
}
.card .description h3{
  color: #000;
  margin-bottom: 15px;
}
.card .description h4{
  color: #000;
}
.card .contact{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.datos{
  color: #000;
  text-align: center;
  font-size: 25px;
}
::placeholder{
  color: #000;
  font-size: 16.5px;
}
input[type=text]{
  padding: 13px;
  border: 1px solid#708090;
  background-color: #e6e6fa;
  border-radius: 41px;
  width: 25%;
  margin: 20px 20px 50px 15%;
  letter-spacing: 1.5px;
}
/*--------------------------- Calendario ---------------------------*/
.agendar{
  color: #000;
  text-align: center;
  font-size: 25px;
}
:root{
    --primary-clr: #708090;
}
.container{
  position: relative;
  width: 75%;
  max-height: 760px;
  margin-top: 20px;
  margin-bottom: 10%;
  padding: 5px;
  color: #fff;
  display: flex;
  border-radius: 22px;
  background-color: #e6e6fa;
}
.left{
  width: 90%;
  padding: 20px;
}
.calendar{
  position: relative;
  width: 550px;
  height: 710px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #878895;
  border-radius: 20px;
  background-color: #fff;
}
.calendar .month{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
}
.calendar .month .prev,
.calendar .month .next{
  cursor: pointer;
}
.calendar .month .prev:hover,
.calendar .month .next:hover{
  color: var(--primary-clr);
}
.calendar .weekdays{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
}
.calendar .weekdays div{
  width: 14.28%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar .days{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.calendar .days .day{
  width: 14.28%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-clr);
  border: 2px solid #f5f5f5;
}
.calendar.day:not(.prev-date,.next-day):hover{
  color: #fff;
  background-color: var(--primary-clr);
}
.calendar .days .prev-date,
.calendar .days .next-day{
  color: #b3b3b3;
}
/* ------ Para señalar el día actual ------
.calendar .days .active{
  position: relative;
  font-size: 2rem;
  color: #fff;
  background-color: var(--primary-clr);
}
.calendar .days .active::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px var(--primary-clr);
}
.calendar .days .today{
  font-size: 2rem;
}*/
/* ------ Botón en el calendario para agendar la cita ------*/
.calendar .agendar-btn {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin: 50px 0 10px 80%;
  color: var(--primary-clr);
}
.calendar .agendar-btn button {
  padding: 5px 10px;
  border: 1px solid var(--primary-clr);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-clr);
}
.calendar .agendar-btn button:hover {
  color: #fff;
  background-color: var(--primary-clr);
}
/*--------------------------- Info contacto ---------------------------*/
.back-info{
  padding: 10px 0;
  background-color: white;
}
.info{
  text-align: center;
  font-size: 22px;
  color: var(--primary-clr);
}