/*--------------------------- Barra / Fondo ---------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "poppins", sans-serif;
}
::-webkit-scrollbar {
  height: 8px;
}
::-webkit-scrollbar-track {
  background: pink;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(214, 38, 106);
}
body {
  background: linear-gradient(
    90deg,
    rgb(234, 93, 234) 25%,
    rgb(235, 103, 184) 73%
  );
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
.back {
  padding: 35px 0;
}
.menu {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu .navbar ul li {
  position: relative;
  float: left;
}
.menu .navbar ul li a {
  font-size: 20px;
  padding: 20px;
  color: black;
  display: block;
}
.menu .navbar ul li a:hover {
  color: rgb(221, 55, 152);
}
.logo {
  margin-left: 20px;
  width: 100px;
}
/*--------------------------- My code ---------------------------*/
/*--------------------------- Mensaje / Cards ---------------------------*/
.mensaje {
  color: #000;
  text-align: center;
  font-size: 25px;
}
.emp {
  color: #000;
  text-align: center;
  font-size: 25px;
}
.all-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  accent-color: #ff66ff;
}
.card {
  position: relative;
  width: 200px;
  min-height: 215px;
  background-color: #e6e6fa;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  margin: 15px 20px;
  display: inline-block;
  flex-wrap: wrap;
  cursor: pointer;
}
.card.focus {
  background-color: #ff99ff;
}

.card:hover {
  background-color: #ffccff;
}
.card:active {
  background-color: #ff99ff;
}
.card .head {
  height: 125px;
  width: 100%;
  position: relative;
}
.card .head .img {
  width: 150px;
  height: 150px;
  position: absolute;
  padding: 5px;
  border-radius: 50%;
  bottom: -30%;
  left: 50%;
  transform: translate(-50%);
}
.card .head .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.card .description {
  height: 280px;
  padding: 40px 20px 20px 20px;
  border-bottom: solid 1px rgba(6, 74, 76, 0.18);
  text-align: center;
}
.card .description h2 {
  color: #990066;
}
.card .description h3 {
  color: #000;
  margin-bottom: 15px;
}
.card .description h4 {
  color: #000;
}

.card .contact {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.datos {
  color: #000;
  text-align: center;
  font-size: 25px;
}
.all-textbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
::placeholder {
  color: fff;
  font-size: 16.5px;
}
input[type="text"] {
  padding: 13px;
  border: 1px solid#708090;
  background-color: #e6e6fa;
  border-radius: 41px;
  width: 22%;
  letter-spacing: 1.5px;
  margin-top: 25px;
  margin-right: 15px;
}
/*--------------------------- Calendario ---------------------------*/
.agendar-msg {
  color: #000;
  text-align: center;
  font-size: 25px;
}
:root {
  --primary-clr: #708090;
}
.container {
  position: relative;
  width: 75%;
  min-height: 650px;
  margin-top: 20px;
  margin-bottom: 8%;
  padding: 5px;
  color: #fff;
  display: flex;
  border-radius: 22px;
  background-color: #e6e6fa;
}
.left {
  width: 55%;
  padding: 20px 0 20px 20px;
}
.calendar {
  position: relative;
  width: 550px;
  height: 550px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #878895; 
  border-radius: 20px;
  background-color: #fff;
}
.calendar .month {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
}
.calendar .month .prev,
.calendar .month .next {
  cursor: pointer;
}
.calendar .month .prev:hover,
.calendar .month .next:hover {
  color: var(--primary-clr);
}
.calendar .weekdays {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 15px;
}
.weekdays div {
  width: 14.28%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 25px;
}
.calendar .days .day {
  width: 14.28%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-clr);
  border: 2px solid #f5f5f5;
}
.calendar .days .day:nth-child(7n + 1) {
  border-left: 2px solid #f5f5f5;
}
.calendar .days .day:nth-child(7n) {
  border-right: 2px solid #f5f5f5;
}
.calendar .days .day:nth-child(-n + 7) {
  border-top: 2px solid #f5f5f5;
}
.calendar .days .day:nth-child(n + 29) {
  border-bottom: 2px solid #f5f5f5;
}
.calendar.day:not(.prev-date, .next-day):hover {
  color: #fff;
  background-color: var(--primary-clr);
}
.calendar .days .prev-date,
.calendar .days .next-date {
  color: #b3b3b3;
}
.calendar .days .active {
  position: relative;
  font-size: 2rem;
  color: #fff;
  background-color: #ff99ff; 
}
.calendar .days .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px #af4caf;
}
.calendar .days .today {
  font-size: 2rem;
}
.calendar .days .event {
  position: relative;
}
.calendar .days .event::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: #ff99ff;
}
.calendar .days .day:hover.event::after {
  background-color: #fff;
}
.calendar .days .active.event::after {
  background-color: #fff;
  bottom: 20%;
}
.calendar .days .active.event {
  padding-bottom: 10px;
}
/* ------------------------ Citas ------------------------*/
.container .right {
  position: relative;
  width: 40%;
  min-height: 100%;
  padding: 20px 0;
}
.right .today-date {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  padding-left: 70px;
  margin-top: 5%;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: var(--primary-clr); /*Día*/
}
.right .today-date .event-day {
  font-size: 2rem;
  font-weight: 500;
}
.right .today-date .event-date {
  /*día/mes/año*/
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--primary-clr);
}
.events {
  width: 100%;
  height: 100%;
  max-height: 85%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
}
.events .event {
  position: relative;
  width: 95%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px;
  padding-left: 50px;
  margin-left: 20px;
  color: #fff;
  background: linear-gradient(90deg, #ff99ff, transparent);
  cursor: pointer;
}
/* even event */
.events .event:nth-child(even) {
  background: transparent;
}
.events .event:hover {
  background: linear-gradient(90deg, #ff66ff, transparent);
}
.events .event .title {
  display: flex;
  align-items: center;
  pointer-events: none;
}
.events .event .title .event-title {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 20px;
}
.events .event i {
  color: var(--primary-clr);
  font-size: 0.5rem;
}
.events .event:hover i {
  color: #fff;
}
.events .event .event-time {
  font-size: 0.8rem;
  font-weight: 400;
  color: #878895;
  margin-left: 15px;
  pointer-events: none;
}
.events .event:hover .event-time {
  color: #fff;
}
/* add tick in event after */
.events .event::after {
  content: "✓";
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
  line-height: 1;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  color: var(--primary-clr);
  transform: translateY(-50%);
}
.events .event:hover::after {
  display: flex;
}
.events .no-event {
  /*No Events*/
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-clr);
}
/* ------ Botón en el calendario para agendar la cita ------*/
.agendar {
  display: flex;
  margin-left: 20px;
  justify-content: space-between;
  align-items: center;
}
.agendar-btn button {
  padding: 10px;
  border: 1px solid var(--primary-clr);
  border-radius: 5px;
  background-color: #e6e6fa;
  cursor: pointer;
  color: var(--primary-clr);
  font-size: 18px;
  margin-top: 18px;
}
.agendar-btn button:hover {
  color: #fff;
  background-color: #ff99ff;
  border: 1px solid #ff99ff;
}
/*--------------------------- Info contacto ---------------------------*/
.back-info {
  padding: 10px 0;
  background-color: white;
}
.info {
  text-align: center;
  font-size: 22px;
  color: var(--primary-clr);
}

.background-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popupError1,
.popupError2,
.popupNotif {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  text-align: center;
}

/*#notif {
  font-size: 24px;
  margin-right: 30px;
  cursor: pointer;
}*/

#cerrarNotif,
#cerrarError2,
#cerrarError1 {
  cursor: pointer;
}